<%@page import="org.oscarehr.oscar_apps.util.LocaleUtils"%>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
	<head>
		<title><%=LocaleUtils.getMessage(request, "CHECK_IN.PATIENT_CHECK_IN")%></title>
	</head>
	<body>